.portfolio {
  background: var(--primary-background-color);
}
.portfolio__section {
  padding-top: var(--typical-padding);
  padding-bottom: var(--typical-padding);
}
.filter {
  margin-bottom: 50px;
}
.filter__list {
  display: flex;
  justify-content: center;
  .current {
    color: var(--primary-background-color);
    background-color: var(--action-color);
    box-shadow: var(--secondary-box-shadow);
  }
}
.filter__item {
  margin-right: 8px;
  &:last-child {
    margin-right: 0;
  }
}
.filter__btn {
  padding: 6px 22px;
  font-family: roboto;
  @include font(500, 16px, 1.63, 0.03em);
  text-align: center;
  color: var(--primary-text-color);
  background: var(--secondary-background-color);
  border-style: none;
  border-radius: var(--primary-border-radius);
  @include transition(color);
  @include transition(background-color);
  @include transition(box-shadow);
  &:hover,
  &:focus {
    color: var(--primary-background-color);
    background-color: var(--action-color);
    box-shadow: var(--secondary-box-shadow);
  }
}

.projects {
  padding-bottom: var(--typical-padding);
}
.projects__list {
  display: flex;
  flex-wrap: wrap;
}
.projects__item {
  width: 370px;
  background: var(--primary-background-color);
  margin-right: 30px;
  margin-top: 30px;
  outline: 1px solid #eeeeee;
  @include transition(box-shadow);
  &:nth-child(3n) {
    margin-right: 0;
  }
  &:nth-child(-n + 3) {
    margin-top: 0;
  }
}

.projects__link {
  display: block;
  width: 100%;
  .projects__item &:hover,
  .projects__item &:focus {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
      1px 4px 6px rgba(0, 0, 0, 0.16);
  }
}

.card__wrap {
  position: relative;
  overflow: hidden;
  margin: 0;
}
.card__text {
  position: absolute;
  top: 0;
  margin: 0;
  padding: 63px 24px;
  height: 100%;
  width: 100%;
  @include font(null, 18px, 1.56, 0.03em);
  color: var(--primary-background-color);
  background: rgba(33, 150, 243, 0.9);
  transform: translateY(101%);
  transition: transform var(--primary-transition-time) linear;
  .projects__item:hover &,
  .projects___link:focus & {
    transform: translateY(0);
  }
}
.card-signature {
  padding: 20px 24px;
}
.card-signature__name {
  margin-bottom: 4px;
  @include font(700, 18px, 2, 0.06em);
  color: var(--primary-text-color);
}
.card-signature__filter {
  @include font(null, 16px, 1.88, 0.03em);
  color: var(--secondary-text-color);
}
